# ===== SDG_Engine Git Ignore File ====
# Build directories ===================
build*/
cmake-build*/
out/
bin/

# IDE =================================
.cache
.idea/
.vs/
.vscode/
CMakeSettings.json

# OS-related ==========================
.DS_Store
