[submodule "lib/tinyxml2"]
	path = lib/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "lib/emsdk"]
	path = lib/emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "lib/sdl-gpu"]
	path = lib/sdl-gpu
	url = https://github.com/tadashibashi/sdl-gpu
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "src/Tests/lib/Catch2"]
	path = src/Tests/lib/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "lib/crunch"]
	path = lib/crunch
	url = https://github.com/ChevyRay/crunch
